/* reset */
body, h1, h2, h3, h4, h5, h6, p, a, strong, em, small {
	font-weight: inherit;
	font-family: inherit;
}

/*
.dark-primary-color    { background: #689F38; }
.default-primary-color { background: #8BC34A; }
.light-primary-color   { background: #DCEDC8; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}









body {
    background-color: #5D5A5D;
    color: #ededed;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.font-unit {
    /* max-height: 1em; */
    /* overflow: hidden; */
}

img#logo {width: 400px;display: initial;}

h1 {
    display: inline-block;
    position: relative;
    top: -1.2em;
    margin-left: 0.4em;
    font-size: 2em;
}

header {background-color: #5D5A5D;padding: 1em;color: #fff;}

section {
    padding: 2em 0 0 0;
    background-color: #2f2f2f;
}

h3 {
    background-color: #009688;
    padding: 1em 0.1em;
    color: #fff;
    font-size: 1.5em;
    background-color: #bbffc2;
    color: #212121;
}
section header {
    background-color: #202020;
}
div.colorExample {
    display:inline-block;
    width: 100px; 
    height: 100px;
    margin: 5px;
}

div.colorExample em {
    background-color: #fff;
    display: block;
    text-align: center;
    color: #000;
    padding: 2px 0;
    font-size: 13px;
}


    body {counter-reset: fonts;}
        textarea {width: 30%;height: 400px;}
        h2 {font-weight: normal;}
        .font-unit {line-height: 0.7em;}
        .color-block {display: inline-block;width: 100px; height: 100px;position:relative;}
        .color-block label {
            position: absolute;
            color: black; display: block;
            bottom: 0;
            width: 100%;
            background-color: #ffffff80;
            text-align: center;
            padding: 1em 0;
            font-size: 14px;
        }
        .font-unit::before {
          counter-increment: fonts;              
          content: counter(fonts) ") "; 
        }